In [2]:
#Ler um arquivo em formato tabular (separado por espaco ou TAB)
import pandas as pd

df = pd.read_table(r"C:\Users\marce\OneDrive\Arquivos Antigos\Documentos\GitHub\Python_Projetos\Datasets\Sanduiches.txt")

df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
#Ler um arquivo em formato txt separado por |

import pandas as pd

caminho_arquivo = r"C:\Users\marce\OneDrive\Arquivos Antigos\Documentos\GitHub\Python_Projetos\Datasets\Users.txt"

colunas_cabecalho = ['id','idade','genero','profissao','cep']

df = pd.read_table(caminho_arquivo,sep='|',header=None,names=colunas_cabecalho) #header eh o cabecalho

df.head(5)

   id  idade genero   profissao    cep
0   1     24      M  technician  85711
1   2     53      F       other  94043
2   3     23      M      writer  32067
3   4     24      M  technician  43537
4   5     33      F       other  15213

In [4]:
#Ler um arquivo CSV separado por ,

import pandas as pd

caminho_arquivo = r"C:\Users\marce\OneDrive\Arquivos Antigos\Documentos\GitHub\Python_Projetos\Datasets\ufo.csv"

df = pd.read_csv(caminho_arquivo) 

df.head(5)

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
#Ler um arquivo de posicao fixa, separado por espacos iguais

import pandas as pd

caminho_arquivo = r"C:\Users\marce\OneDrive\Arquivos Antigos\Documentos\GitHub\Python_Projetos\Datasets\LarguraFixa.txt"

df = pd.read_fwf(caminho_arquivo) 

df.head(5)

,USAF,WBAN,STATION NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
0,7005,99999,CWOS 07005,NaN,NaN,NaN,NaN,NaN,NaN,20120127,20120127
1,7011,99999,CWOS 07011,NaN,NaN,NaN,NaN,NaN,NaN,20111025,20121129
2,7018,99999,WXPOD 7018,NaN,NaN,NaN,0.0,0.0,7018.0,20110309,20130730
3,7025,99999,CWOS 07025,NaN,NaN,NaN,NaN,NaN,NaN,20120127,20120127
4,7026,99999,WXPOD 7026,AF,NaN,NaN,0.0,0.0,7026.0,20120713,20141120

In [6]:
#Ler um arquivo de posicao com espacos irregulares

import pandas as pd

caminho_arquivo = r"C:\Users\marce\OneDrive\Arquivos Antigos\Documentos\GitHub\Python_Projetos\Datasets\SepEspaco.txt"

#regex = '\s+' #expressao regular, \s significa espaco e o + em seguida significa selecionar tudo apos o espaco

#engine = 'python' eh necessario para se usar uma expressao regular como separador
#So usei duas contrabarras para remover o warming

df = pd.read_csv(caminho_arquivo, sep='\\s+',engine='python') 

df.head(10)

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0
5,1912,4,3,6,163,119,10170,240,40,4,-9999,0
6,1912,4,3,9,182,122,10186,240,60,2,-9999,0
7,1912,4,4,6,154,125,10173,0,0,0,-9999,0
8,1912,4,4,9,186,134,10180,360,20,0,-9999,0
9,1912,4,4,12,202,145,10169,40,60,0,-9999,0