In [ ]:
#Script que gera NF, ITEMNF e VENDAS em formaato .xlsx direto na pasta para a importacao

import random
import pandas as pd
import os
from datetime import datetime, date
from sqlalchemy import create_engine, VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text,CHAR
import numpy as np
from faker import Faker

# Quantidade de notas fiscais

numero_inicial_nota = 1000
numero_maximo_nota = 3001
quant_maxima_itens = 10
variavel_controle_maximo_LOOP = 1100 #Valor maximo que da nota inicial dentro do loop de geracao de NF's

fake = Faker()

server = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
bancodados = "MERCADO_OLTP"
driver = "ODBC Driver 17 for SQL Server"

conexaostring = f"mssql+pyodbc://{server}/{bancodados}?driver={driver}&Trusted_Connection=yes"
engine = create_engine(conexaostring, pool_size=10, max_overflow=30)

#Função para testar a conexão
def testar_conexao_sqlalchemy(engine):
    try:        
        with engine.connect() as conexao: #Tenta conectar ao banco de dados
            print("Conexão com o banco de dados estabelecida com sucesso")
            result = conexao.execute(text("SELECT 1 AS teste")) #Executa uma consulta para testar a conexão
            print("Query executada com sucesso")
            return True
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False
#testa a conexão
if testar_conexao_sqlalchemy(engine): 
    print("A conexão foi bem-sucedida")
else:
    print("Falha na conexão.")

# Função para gerar a nota fiscal
def gerar_nota_fiscal(numero_nota, lista_produtos, quant_maxima_itens, data_nota):
    # Garantir que a quantidade de itens únicos seja pelo menos 1
    quant_item_unicos = random.randint(1, quant_maxima_itens)  # Gerar quantidade aleatória de itens únicos na nota fiscal
    #print(f"Quantidade de itens únicos na nota {numero_nota}: {quant_item_unicos}")

    lista_saida = []  # Lista para armazenar os itens da nota fiscal
    lista_NOTAFISCAL = []   

    id_forma_pgmt = random.randint(1, 8)
    total_clientes_db = (engine.connect().execute(text("SELECT COUNT(IDCLIENTE) FROM [MERCADO_OLTP].[dbo].CLIENTE"))).scalar()
    id_cliente = random.randint(1, total_clientes_db)
    total_lojas_db = (engine.connect().execute(text("SELECT COUNT(IDLOJA) FROM [MERCADO_OLTP].[dbo].LOJA"))).scalar()
    id_loja = random.randint(1, total_lojas_db)
    id_cfop = random.randint(1, 6)
    chaveacesso = ''.join([str(random.randint(0, 9)) for _ in range(44)])
    data_criacao = data_nota.date()
    data_atlz = ""
    versao = 1
    
    # Gerar os itens da nota fiscal
    for _ in range(quant_item_unicos):
        produto = random.choice(lista_produtos)
        if produto in df_prod["NOME"].values:
            preco_unit = df_prod.loc[df_prod["NOME"] == produto, "PRECO_UNIT"].values[0]
            id_produto = df_prod.loc[df_prod["NOME"] == produto, "IDPRODUTO"].values[0]
            preco_unit = round(float(preco_unit), 2)  # Preço unitário com 2 casas decimais
            quantidade = random.randint(1, 10)  # Quantidade aleatória do produto
            preco_total_item = round(quantidade * preco_unit, 2)  # Total do item
            lista_saida.append((data_nota, numero_nota, produto, quantidade, preco_unit, preco_total_item, 
                                id_forma_pgmt, id_cliente, id_loja, id_cfop, chaveacesso, data_criacao, 
                                data_atlz, versao,id_produto))            

    # Calcular o total da nota fiscal
    preco_total_nota = round(sum(item[5] for item in lista_saida), 2)
    
    # Adicionar o total da nota a cada item da lista
    lista_saida = [item + (preco_total_nota,) for item in lista_saida]
   
    lista_NOTAFISCAL.append((data_nota, id_forma_pgmt, id_cliente, id_loja, id_cfop, chaveacesso, data_criacao, 
                             data_atlz, versao,preco_total_nota))
    

    # Criar um DataFrame com os dados da nota fiscal
    df_nota_fiscal = pd.DataFrame(
        lista_saida, columns=["DATA_NOTAFISCAL", "Numero_Nota", "Produto", "QUANTIDADE", "PRECO_UNIT", "TOTAL_ITEM", 
                              "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP","CHAVE_ACESSO","DATA_CRIACAO",
                              "DATA_ATLZ","VERSAO", "IDPRODUTO","TOTAL_NOTA"]
    )

    df_2 = pd.DataFrame(
        lista_NOTAFISCAL, columns=["DATA_NOTAFISCAL", "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP", 
                                   "CHAVE_ACESSO", "DATA_CRIACAO", "DATA_ATLZ", "VERSAO","TOTAL_NOTA"]
    )

    
    return df_nota_fiscal, df_2


while numero_inicial_nota < variavel_controle_maximo_LOOP:
    try:
        
        incremento = random.randint(33, 87)
        numero_maximo_nota = numero_inicial_nota + incremento
        df_prod = pd.read_sql(text(f"SELECT IDPRODUTO, NOME, PRECO_UNIT FROM PRODUTO "),engine)
        lista_prod_DB = df_prod['NOME'].to_list()
        df_notas_fiscais = []
        df_notas_fiscais_2 = []
        for numero_nota in range(numero_inicial_nota, numero_maximo_nota + 1):
            data_nota_ini = fake.date_time_between(start_date=datetime(2024,1,1),end_date=datetime(2024,1,20))
            hora_aleatoria = random.randint(7, 21)  #Gera uma hora entre 8 e 22
            minuto_aleatorio = random.randint(0, 59)  #Gera minutos aleatórios
            segundo_aleatorio = random.randint(0, 59)  #Gera segundos aleatórios
            data_nota = data_nota_ini.replace(hour=hora_aleatoria, minute=minuto_aleatorio, second=segundo_aleatorio) #Substituir o horário da data_nota pelo horário gerado
            df_nota_fiscal, df_2 = gerar_nota_fiscal(numero_nota, lista_prod_DB, quant_maxima_itens, data_nota)
            df_notas_fiscais.append(df_nota_fiscal)
            df_notas_fiscais_2.append(df_2)
        df_todas_notas = pd.concat(df_notas_fiscais, ignore_index=True)
        df_todas_notas2 = pd.concat(df_notas_fiscais_2, ignore_index=True)
        df_ITEMNOTA = pd.DataFrame({
                        'ID_NOTAFISCAL':  df_todas_notas['Numero_Nota'],
                        'ID_PRODUTO':     df_todas_notas['IDPRODUTO'],
                        'QUANTIDADE':     df_todas_notas['QUANTIDADE'],
                        'PRECO_UNIT':     df_todas_notas['PRECO_UNIT'],
                        'TOTAL_ITEM':     df_todas_notas['TOTAL_ITEM'],
                        'DATA_CRIACAO':   df_todas_notas['DATA_CRIACAO'],
                        'DATA_ATLZ':      df_todas_notas['DATA_ATLZ'],
                        'VERSAO':         df_todas_notas['VERSAO'],
        })
        df_NOTAFISCAL = pd.DataFrame({
                        'DATA':           df_todas_notas2['DATA_NOTAFISCAL'],
                        'TOTAL_NOTA':     df_todas_notas2['TOTAL_NOTA'],
                        'ID_FORMA_PGMT':  df_todas_notas2['ID_FORMA_PGMT'],
                        'ID_CLIENTE':     df_todas_notas2['ID_CLIENTE'],
                        'ID_LOJA':        df_todas_notas2['ID_LOJA'],
                        'ID_CFOP':        df_todas_notas2['ID_CFOP'],
                        'CHAVE_ACESSO':   df_todas_notas2['CHAVE_ACESSO'],
                        'DATA_CRIACAO':   df_todas_notas2['DATA_CRIACAO'],
                        'DATA_ATLZ':      df_todas_notas2['DATA_ATLZ'],
                        'VERSAO':         df_todas_notas2['VERSAO'],
        })
        df_VENDA = pd.DataFrame({
                        'DATA':           df_todas_notas['DATA_NOTAFISCAL'],
                        'ID_NOTAFISCAL':  df_todas_notas['Numero_Nota'],
                        'ID_CLIENTE':     df_todas_notas['ID_CLIENTE'],
                        'ID_LOJA':        df_todas_notas['ID_LOJA'],
                        'ID_FORMA_PGMT':  df_todas_notas['ID_FORMA_PGMT'],
                        'TOTAL_VENDA':     df_todas_notas['TOTAL_NOTA'],
                        'DATA_CRIACAO':   df_todas_notas['DATA_CRIACAO'],
                        'DATA_ATLZ':      df_todas_notas['DATA_ATLZ'],
                        'VERSAO':         df_todas_notas['VERSAO'],
        })
        caminho = r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS"
        path_ITEMNOTA = r"\\ITEMNOTA\\Novo(a) Documento de Texto.csv"

        # Caminhos das pastas
        pastas = {
            'ITEMNOTA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\ITEMNOTA",
            'NOTAFISCAL': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\NOTAFISCAL",
            'VENDA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\VENDA"
        }
        # Dicionário com os DataFrames e suas pastas correspondentes
        dataframes = {
            'ITEMNOTA': df_ITEMNOTA,
            'NOTAFISCAL': df_NOTAFISCAL,
            'VENDA': df_VENDA
        }
        # Salvar cada DataFrame em um arquivo CSV na pasta correspondente
        for nome_df, df in dataframes.items():
            try:
                id_valor = f"vendas_{numero_inicial_nota}ate_{numero_maximo_nota}"
                # Nome do arquivo
                nome_arquivo = f"arquivo_{nome_df}_{id_valor}.xlsx"

                # Caminho completo do arquivo
                caminho_completo = os.path.join(pastas[nome_df], nome_arquivo)

                # Salvar o DataFrame em um arquivo CSV
                df.to_excel(caminho_completo, index=False)
                #print(f"DataFrame {nome_df} salvo com sucesso em: {caminho_completo}")
            except Exception as e:
                print(f"Erro ao salvar o DataFrame {nome_df}: {e}")
        print(f"Arquivo vendas de {numero_inicial_nota} ate {numero_maximo_nota} salvos com sucesso.")
        numero_inicial_nota = numero_maximo_nota + 1
    except Exception as e:
       print(f"Erro ao gerar os arquivos: {e}")

In [14]:
#(Otimizado) Script que gera NF, ITEMNF e VENDAS em formaato .xlsx direto na pasta para a importacao

import random
import pandas as pd
import os
from datetime import datetime
from sqlalchemy import create_engine, text
from faker import Faker

# Configurações iniciais
NUMERO_INICIAL_NOTA = 1000
VARIAVEL_CONTROLE_MAXIMO_LOOP = 5000
QUANT_MAXIMA_ITENS = 10

fake = Faker()

# Configurações do banco de dados
SERVER = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
BANCO_DADOS = "MERCADO_OLTP"
DRIVER = "ODBC Driver 17 for SQL Server"
CONN_STRING = f"mssql+pyodbc://{SERVER}/{BANCO_DADOS}?driver={DRIVER}&Trusted_Connection=yes"
engine = create_engine(CONN_STRING, pool_size=10, max_overflow=30)

# Função para testar a conexão
def testar_conexao():
    try:
        with engine.connect() as conexao:
            conexao.execute(text("SELECT 1"))
            print("Conexão com o banco de dados estabelecida com sucesso.")
            return True
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False

# Função para gerar uma nota fiscal
def gerar_nota_fiscal(numero_nota, lista_produtos, data_nota):
    quant_itens = random.randint(1, QUANT_MAXIMA_ITENS)
    id_forma_pgmt = random.randint(1, 8)
    id_cliente = random.randint(1, obter_total("CLIENTE", "IDCLIENTE"))
    id_loja = random.randint(1, obter_total("LOJA", "IDLOJA"))
    id_cfop = random.randint(1, 6)
    chave_acesso = ''.join([str(random.randint(0, 9)) for _ in range(44)])
    data_criacao = data_nota.date()
    versao = 1

    itens = []
    for _ in range(quant_itens):
        produto = random.choice(lista_produtos)
        preco_unit = df_prod.loc[df_prod["NOME"] == produto, "PRECO_UNIT"].values[0]
        id_produto = df_prod.loc[df_prod["NOME"] == produto, "IDPRODUTO"].values[0]
        quantidade = random.randint(1, 10)
        total_item = round(quantidade * preco_unit, 2)
        itens.append((data_nota, numero_nota, produto, quantidade, preco_unit, total_item, 
                      id_forma_pgmt, id_cliente, id_loja, id_cfop, chave_acesso, data_criacao, 
                      "", versao, id_produto))

    total_nota = round(sum(item[5] for item in itens), 2)
    itens = [item + (total_nota,) for item in itens]

    df_nota_fiscal = pd.DataFrame(
        itens, columns=["DATA_NOTAFISCAL", "Numero_Nota", "Produto", "QUANTIDADE", "PRECO_UNIT", 
                        "TOTAL_ITEM", "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP", 
                        "CHAVE_ACESSO", "DATA_CRIACAO", "DATA_ATLZ", "VERSAO", "IDPRODUTO", "TOTAL_NOTA"]
    )

    df_nota_fiscal_2 = pd.DataFrame(
        [(data_nota, id_forma_pgmt, id_cliente, id_loja, id_cfop, chave_acesso, data_criacao, 
          "", versao, total_nota)],
        columns=["DATA_NOTAFISCAL", "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP", 
                 "CHAVE_ACESSO", "DATA_CRIACAO", "DATA_ATLZ", "VERSAO", "TOTAL_NOTA"]
    )

    return df_nota_fiscal, df_nota_fiscal_2

# Função para obter o total de registros em uma tabela
def obter_total(tabela, coluna):
    with engine.connect() as conexao:
        return conexao.execute(text(f"SELECT COUNT({coluna}) FROM {tabela}")).scalar()

# Função para salvar DataFrames em arquivos Excel
def salvar_dataframes(dataframes, pastas, numero_inicial_nota, numero_maximo_nota):
    id_valor = f"vendas_{numero_inicial_nota}ate_{numero_maximo_nota}"
    for nome_df, df in dataframes.items():
        try:
            nome_arquivo = f"arquivo_{nome_df}_{id_valor}.xlsx"
            caminho_completo = os.path.join(pastas[nome_df], nome_arquivo)
            df.to_excel(caminho_completo, index=False)
        except Exception as e:
            print(f"Erro ao salvar o DataFrame {nome_df}: {e}")

# Caminhos das pastas
PASTAS = {
    'ITEMNOTA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\ITEMNOTA",
    'NOTAFISCAL': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\NOTAFISCAL",
    'VENDA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\VENDA"
}

# Execução principal
if testar_conexao():
    numero_inicial_nota = NUMERO_INICIAL_NOTA
    while numero_inicial_nota < VARIAVEL_CONTROLE_MAXIMO_LOOP:
        try:
            incremento = random.randint(50, 99)
            numero_maximo_nota = numero_inicial_nota + incremento
            df_prod = pd.read_sql(text("SELECT IDPRODUTO, NOME, PRECO_UNIT FROM PRODUTO"), engine)
            lista_produtos = df_prod['NOME'].to_list()

            df_notas_fiscais = []
            df_notas_fiscais_2 = []
            for numero_nota in range(numero_inicial_nota, numero_maximo_nota + 1):
                data_nota_ini = fake.date_time_between(start_date=datetime(2024, 1, 1), end_date=datetime(2024, 1, 20))
                hora_aleatoria = random.randint(7, 21)  #Gera uma hora entre 8 e 22
                minuto_aleatorio = random.randint(0, 59)  #Gera minutos aleatórios
                segundo_aleatorio = random.randint(0, 59)  #Gera segundos aleatórios
                data_nota = data_nota_ini.replace(hour=hora_aleatoria, minute=minuto_aleatorio, second=segundo_aleatorio) #Substituir o horário da data_nota pelo horário gerado
                df_nota_fiscal, df_2 = gerar_nota_fiscal(numero_nota, lista_produtos, data_nota)
                df_notas_fiscais.append(df_nota_fiscal)
                df_notas_fiscais_2.append(df_2)

            df_todas_notas = pd.concat(df_notas_fiscais, ignore_index=True)
            df_todas_notas2 = pd.concat(df_notas_fiscais_2, ignore_index=True)

            df_ITEMNOTA = df_todas_notas[['Numero_Nota', 'IDPRODUTO', 'QUANTIDADE', 'PRECO_UNIT', 'TOTAL_ITEM', 'DATA_CRIACAO', 'DATA_ATLZ', 'VERSAO']]
            df_ITEMNOTA.columns = ['ID_NOTAFISCAL', 'ID_PRODUTO', 'QUANTIDADE', 'PRECO_UNIT', 'TOTAL_ITEM', 'DATA_CRIACAO', 'DATA_ATLZ', 'VERSAO']

            df_NOTAFISCAL = df_todas_notas2[['DATA_NOTAFISCAL', 'TOTAL_NOTA', 'ID_FORMA_PGMT', 'ID_CLIENTE', 'ID_LOJA', 'ID_CFOP', 'CHAVE_ACESSO', 'DATA_CRIACAO', 'DATA_ATLZ', 'VERSAO']]
            df_NOTAFISCAL.columns = ['DATA', 'TOTAL_NOTA', 'ID_FORMA_PGMT', 'ID_CLIENTE', 'ID_LOJA', 'ID_CFOP', 'CHAVE_ACESSO', 'DATA_CRIACAO', 'DATA_ATLZ', 'VERSAO']

            df_VENDA = df_todas_notas[['DATA_NOTAFISCAL', 'Numero_Nota', 'ID_CLIENTE', 'ID_LOJA', 'ID_FORMA_PGMT', 'TOTAL_NOTA', 'DATA_CRIACAO', 'DATA_ATLZ', 'VERSAO']]
            df_VENDA.columns = ['DATA', 'ID_NOTAFISCAL', 'ID_CLIENTE', 'ID_LOJA', 'ID_FORMA_PGMT', 'TOTAL_VENDA', 'DATA_CRIACAO', 'DATA_ATLZ', 'VERSAO']

            dataframes = {
                'ITEMNOTA': df_ITEMNOTA,
                'NOTAFISCAL': df_NOTAFISCAL,
                'VENDA': df_VENDA
            }

            salvar_dataframes(dataframes, PASTAS, numero_inicial_nota, numero_maximo_nota)
            print(f"Arquivos de vendas de {numero_inicial_nota} até {numero_maximo_nota} salvos com sucesso.")
            numero_inicial_nota = numero_maximo_nota + 1
        except Exception as e:
            print(f"Erro ao gerar os arquivos: {e}")

Conexão com o banco de dados estabelecida com sucesso.
Arquivos de vendas de 1000 até 1099 salvos com sucesso.
Arquivos de vendas de 1100 até 1197 salvos com sucesso.
Arquivos de vendas de 1198 até 1274 salvos com sucesso.
Arquivos de vendas de 1275 até 1332 salvos com sucesso.
Arquivos de vendas de 1333 até 1397 salvos com sucesso.
Arquivos de vendas de 1398 até 1485 salvos com sucesso.
Arquivos de vendas de 1486 até 1574 salvos com sucesso.
Arquivos de vendas de 1575 até 1671 salvos com sucesso.
Arquivos de vendas de 1672 até 1771 salvos com sucesso.
Arquivos de vendas de 1772 até 1826 salvos com sucesso.
Arquivos de vendas de 1827 até 1908 salvos com sucesso.
Arquivos de vendas de 1909 até 1977 salvos com sucesso.
Arquivos de vendas de 1978 até 2040 salvos com sucesso.
Arquivos de vendas de 2041 até 2093 salvos com sucesso.
Arquivos de vendas de 2094 até 2173 salvos com sucesso.
Arquivos de vendas de 2174 até 2240 salvos com sucesso.
Arquivos de vendas de 2241 até 2291 salvos com sucesso.
Arquivos de vendas de 2292 até 2370 salvos com sucesso.
Arquivos de vendas de 2371 até 2428 salvos com sucesso.
Arquivos de vendas de 2429 até 2479 salvos com sucesso.
Arquivos de vendas de 2480 até 2532 salvos com sucesso.
Arquivos de vendas de 2533 até 2613 salvos com sucesso.
Arquivos de vendas de 2614 até 2700 salvos com sucesso.
Arquivos de vendas de 2701 até 2756 salvos com sucesso.
Arquivos de vendas de 2757 até 2832 salvos com sucesso.
Arquivos de vendas de 2833 até 2927 salvos com sucesso.
Arquivos de vendas de 2928 até 3013 salvos com sucesso.
Arquivos de vendas de 3014 até 3073 salvos com sucesso.
Arquivos de vendas de 3074 até 3165 salvos com sucesso.
Arquivos de vendas de 3166 até 3240 salvos com sucesso.
Arquivos de vendas de 3241 até 3304 salvos com sucesso.
Arquivos de vendas de 3305 até 3364 salvos com sucesso.
Arquivos de vendas de 3365 até 3421 salvos com sucesso.
Arquivos de vendas de 3422 até 3488 salvos com sucesso.
Arquivos de vendas de 3489 até 3544 salvos com sucesso.
Arquivos de vendas de 3545 até 3623 salvos com sucesso.
Arquivos de vendas de 3624 até 3713 salvos com sucesso.
Arquivos de vendas de 3714 até 3779 salvos com sucesso.
Arquivos de vendas de 3780 até 3856 salvos com sucesso.
Arquivos de vendas de 3857 até 3918 salvos com sucesso.
Arquivos de vendas de 3919 até 3998 salvos com sucesso.
Arquivos de vendas de 3999 até 4059 salvos com sucesso.
Arquivos de vendas de 4060 até 4154 salvos com sucesso.
Arquivos de vendas de 4155 até 4250 salvos com sucesso.
Arquivos de vendas de 4251 até 4309 salvos com sucesso.
Arquivos de vendas de 4310 até 4368 salvos com sucesso.
Arquivos de vendas de 4369 até 4464 salvos com sucesso.
Arquivos de vendas de 4465 até 4523 salvos com sucesso.
Arquivos de vendas de 4524 até 4600 salvos com sucesso.
Arquivos de vendas de 4601 até 4652 salvos com sucesso.
Arquivos de vendas de 4653 até 4747 salvos com sucesso.
Arquivos de vendas de 4748 até 4811 salvos com sucesso.
Arquivos de vendas de 4812 até 4903 salvos com sucesso.
Arquivos de vendas de 4904 até 4969 salvos com sucesso.
Arquivos de vendas de 4970 até 5033 salvos com sucesso.

In [4]:
#Script para enviar arquivos da pasta Vendas par o Sql server

import random
import pandas as pd
from datetime import datetime, date
from sqlalchemy import create_engine, VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text,CHAR
import numpy as np
from faker import Faker
from sqlalchemy.exc import SQLAlchemyError
import os

fake = Faker()

server = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
bancodados = "MERCADO_OLTP"
driver = "ODBC Driver 17 for SQL Server"

conexaostring = f"mssql+pyodbc://{server}/{bancodados}?driver={driver}&Trusted_Connection=yes"
engine = create_engine(conexaostring)

#Função para testar a conexão
def testar_conexao_sqlalchemy(engine):
    try:        
        with engine.connect() as conexao: #Tenta conectar ao banco de dados
            print("Conexão com o banco de dados estabelecida com sucesso")
            result = conexao.execute(text("SELECT 1 AS teste")) #Executa uma consulta para testar a conexão
            print("Query executada com sucesso")
            return True
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False
#testa a conexão
if testar_conexao_sqlalchemy(engine): 
    print("A conexão foi bem-sucedida")
else:
    print("Falha na conexão.")

def ler_arquivos_xlsx(caminho_pasta):
    dataframes = []
    for arquivo in os.listdir(caminho_pasta):
        if arquivo.endswith(".xlsx"):
            try:
                caminho_completo = os.path.join(caminho_pasta, arquivo)
                df = pd.read_excel(caminho_completo)
                dataframes.append(df)
                print(f"Arquivo {arquivo} lido com sucesso.")
            except Exception as e:
                print(f"Erro ao ler o arquivo {arquivo}: {e}")
    return pd.concat(dataframes, ignore_index=True) if dataframes else pd.DataFrame()

#Caminhos das pastas
caminho_itemnota = r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Projeto Supermecado - Arquivos\VENDAS\ITEMNOTA"
caminho_notafiscal = r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Projeto Supermecado - Arquivos\VENDAS\NOTAFISCAL"
caminho_venda = r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Projeto Supermecado - Arquivos\VENDAS\VENDA"

#Lê os arquivos e cria os DataFrames
df_ITEMNOTA = ler_arquivos_xlsx(caminho_itemnota)
df_NOTAFISCAL = ler_arquivos_xlsx(caminho_notafiscal)
df_VENDA = ler_arquivos_xlsx(caminho_venda)

#Exibe os DataFrames
print("\nDataFrame ITEMNOTA:")
display(df_ITEMNOTA)

print("\nDataFrame NOTAFISCAL:")
display(df_NOTAFISCAL)

print("\nDataFrame VENDA:")
display(df_VENDA)

#Função para remover espaços desnecessários em todos os tipos de dados
def strip_all_types(col):
    # Verifica se a coluna é do tipo datetime
    if np.issubdtype(col.dtype, np.datetime64):
        # Se for datetime, retorna a coluna original sem modificações
        return col
    
    col_stripped = col.astype(str).str.replace(r'\s+', ' ', regex=True).str.strip() #Converte a coluna para string, remove espaços extras e aplica strip
    
    #Converte de volta para o tipo original da coluna
    if np.issubdtype(col.dtype, np.integer):  # Se for inteiro
        return pd.to_numeric(col_stripped, errors='coerce').astype(col.dtype)
    elif np.issubdtype(col.dtype, np.floating):  # Se for float
        return pd.to_numeric(col_stripped, errors='coerce').astype(col.dtype)
    elif col.name in ["DATA_CRIACAO", "DATA_ATLZ"]:  # Se for uma coluna de data, Converte valores inválidos (como 'None') para NaT (Not a Time)
        return pd.to_datetime(col_stripped, format='%Y-%m-%d', errors='coerce').dt.date
    else:  # Se for string ou outro tipo
        return col_stripped


#with engine.connect() as conn:
#        conn.execute(text(f"TRUNCATE TABLE PRODUTO"))  #limpa os dados existentes, pode ser removido do codigo
#        conn.commit()
#
#df_produto.to_sql(name='PRODUTO',con=engine,if_exists='append',index=False,dtype=tipo_dados_produto)

tabela = "ITEMNOTA"          #NOME DA TABELA A SEREM ADICIONADOS OS DADOS
coluna = "ID_NOTAFISCAL"       #NOME DA COLUNA DA TABELA QUE O SCRCIPT FARA A VERIFICACAO SE O DADO JA EXISTE NO BANCO DE DADOS
tabela2 = "NOTAFISCAL" 
coluna2 = "CHAVE_ACESSO"    
tabela3 = "VENDA" 
coluna3 = "ID_NOTAFISCAL"

with engine.connect() as conn:
    # Consulta os valores existentes na coluna "NOME" da tabela "PRODUTO"
    query = text(f"SELECT {coluna} FROM {tabela}")
    lista_valores_existentes = pd.read_sql(query, conn)[coluna].tolist()

    query2 = text(f"SELECT {coluna2} FROM {tabela2}")
    lista_valores_existentes2 = pd.read_sql(query2, conn)[coluna2].tolist()

    query3 = text(f"SELECT {coluna3} FROM {tabela3}")
    lista_valores_existentes3 = pd.read_sql(query3, conn)[coluna3].tolist()

    # Filtra os valores que não existem na tabela
    df_ITEMNOTA_filtrado =   df_ITEMNOTA[~df_ITEMNOTA["ID_NOTAFISCAL"].isin(lista_valores_existentes)]
    df_NOTAFISCAL_filtrado = df_NOTAFISCAL[~df_NOTAFISCAL["CHAVE_ACESSO"].isin(lista_valores_existentes2)]
    df_VENDA_filtrado =      df_VENDA[~df_VENDA["ID_NOTAFISCAL"].isin(lista_valores_existentes3)]

    # Se houver valores para adicionar
    if not df_ITEMNOTA_filtrado.empty or not df_NOTAFISCAL_filtrado.empty or not df_VENDA_filtrado.empty:
        # Limpa os espaços desnecessários
        df_ITEMNOTA_filtrado = df_ITEMNOTA_filtrado.apply(strip_all_types)
        df_NOTAFISCAL_filtrado = df_NOTAFISCAL_filtrado.apply(strip_all_types)
        df_VENDA_filtrado = df_VENDA_filtrado.apply(strip_all_types)

        # Define os tipos de dados para a tabela PRODUTO
        tipo_dados_ITEMNOTA = {
                'ID_NOTAFISCAL':  INTEGER,
                'ID_PRODUTO':     INTEGER,
                'QUANTIDADE':     INTEGER,
                'PRECO_UNIT':     NUMERIC(18,2),
                'TOTAL_ITEM':     NUMERIC(18,2),
                'DATA_CRIACAO':   DATE,
                'DATA_ATLZ':      DATE,
                'VERSAO':         INTEGER,
        }

        tipo_dados_NOTAFISCAL = {
                'DATA':           DATE,
                'TOTAL_NOTA':     NUMERIC(18,2),
                'ID_FORMA_PGMT':  INTEGER,
                'ID_CLIENTE':     INTEGER,
                'ID_LOJA':        INTEGER,
                'ID_CFOP':        INTEGER,
                'CHAVE_ACESSO':   VARCHAR(100),
                'DATA_CRIACAO':   DATE,
                'DATA_ATLZ':      DATE,
                'VERSAO':         INTEGER,
        }

        tipo_dados_VENDA = {
                'DATA':           DATE,
                'ID_NOTAFISCAL':  INTEGER,
                'ID_CLIENTE':     INTEGER,
                'ID_LOJA':        INTEGER,
                'ID_FORMA_PGMT':  INTEGER,
                'TOTAL_VENDA':    NUMERIC(18,2),
                'DATA_CRIACAO':   DATE,
                'DATA_ATLZ':      DATE,
                'VERSAO':         INTEGER,
        }


        # Exibe os dados que serão adicionados
        print(F"Notas a serem adicionas adicionadas ????")
        display(df_ITEMNOTA_filtrado)
        display(df_NOTAFISCAL_filtrado)
        display(df_VENDA_filtrado)

        # Adiciona os dados ao banco de dados
        df_ITEMNOTA_filtrado.to_sql(
            name=tabela,
            con=engine,
            if_exists="append",
            index=False,
            dtype=tipo_dados_ITEMNOTA
        )

        df_NOTAFISCAL_filtrado.to_sql(
            name=tabela2,
            con=engine,
            if_exists="append",
            index=False,
            dtype=tipo_dados_NOTAFISCAL
        )
        df_VENDA_filtrado.to_sql(
            name=tabela3,
            con=engine,
            if_exists="append",
            index=False,
            dtype=tipo_dados_VENDA
        )

        print("Produtos inseridos com sucesso.")
    else:
        print("Nenhum valor adicionado.")

# Fecha a conexão com o banco de dados
engine.dispose()

Conexão com o banco de dados estabelecida com sucesso
Query executada com sucesso
A conexão foi bem-sucedida
Arquivo arquivo_ITEMNOTA_vendas_1000ate_1099.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1100ate_1197.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1198ate_1274.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1275ate_1332.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1333ate_1397.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1398ate_1485.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1486ate_1574.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1575ate_1671.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1672ate_1771.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1772ate_1826.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1827ate_1908.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1909ate_1977.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1978ate_2040.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2041ate_2093.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2094ate_2173.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2174ate_2240.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2241ate_2291.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2292ate_2370.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2371ate_2428.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2429ate_2479.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2480ate_2532.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2533ate_2613.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2614ate_2700.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2701ate_2756.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2757ate_2832.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2833ate_2927.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_2928ate_3013.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3014ate_3073.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3074ate_3165.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3166ate_3240.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3241ate_3304.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3305ate_3364.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3365ate_3421.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3422ate_3488.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3489ate_3544.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3545ate_3623.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3624ate_3713.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3714ate_3779.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3780ate_3856.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3857ate_3918.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3919ate_3998.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_3999ate_4059.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4060ate_4154.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4155ate_4250.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4251ate_4309.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4310ate_4368.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4369ate_4464.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4465ate_4523.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4524ate_4600.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4601ate_4652.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4653ate_4747.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4748ate_4811.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4812ate_4903.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4904ate_4969.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_4970ate_5033.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1000ate_1099.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1100ate_1197.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1198ate_1274.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1275ate_1332.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1333ate_1397.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1398ate_1485.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1486ate_1574.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1575ate_1671.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1672ate_1771.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1772ate_1826.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1827ate_1908.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1909ate_1977.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1978ate_2040.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2041ate_2093.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2094ate_2173.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2174ate_2240.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2241ate_2291.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2292ate_2370.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2371ate_2428.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2429ate_2479.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2480ate_2532.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2533ate_2613.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2614ate_2700.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2701ate_2756.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2757ate_2832.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2833ate_2927.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_2928ate_3013.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3014ate_3073.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3074ate_3165.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3166ate_3240.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3241ate_3304.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3305ate_3364.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3365ate_3421.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3422ate_3488.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3489ate_3544.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3545ate_3623.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3624ate_3713.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3714ate_3779.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3780ate_3856.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3857ate_3918.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3919ate_3998.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_3999ate_4059.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4060ate_4154.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4155ate_4250.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4251ate_4309.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4310ate_4368.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4369ate_4464.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4465ate_4523.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4524ate_4600.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4601ate_4652.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4653ate_4747.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4748ate_4811.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4812ate_4903.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4904ate_4969.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_4970ate_5033.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1000ate_1099.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1100ate_1197.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1198ate_1274.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1275ate_1332.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1333ate_1397.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1398ate_1485.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1486ate_1574.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1575ate_1671.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1672ate_1771.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1772ate_1826.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1827ate_1908.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1909ate_1977.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1978ate_2040.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2041ate_2093.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2094ate_2173.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2174ate_2240.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2241ate_2291.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2292ate_2370.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2371ate_2428.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2429ate_2479.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2480ate_2532.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2533ate_2613.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2614ate_2700.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2701ate_2756.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2757ate_2832.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2833ate_2927.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_2928ate_3013.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3014ate_3073.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3074ate_3165.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3166ate_3240.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3241ate_3304.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3305ate_3364.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3365ate_3421.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3422ate_3488.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3489ate_3544.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3545ate_3623.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3624ate_3713.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3714ate_3779.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3780ate_3856.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3857ate_3918.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3919ate_3998.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_3999ate_4059.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4060ate_4154.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4155ate_4250.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4251ate_4309.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4310ate_4368.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4369ate_4464.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4465ate_4523.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4524ate_4600.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4601ate_4652.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4653ate_4747.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4748ate_4811.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4812ate_4903.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4904ate_4969.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_4970ate_5033.xlsx lido com sucesso.

DataFrame ITEMNOTA:

,ID_NOTAFISCAL,ID_PRODUTO,QUANTIDADE,PRECO_UNIT,TOTAL_ITEM,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,1000,19969,8,34.22,273.76,2024-01-10,NaN,1
1,1000,79821,5,134.58,672.90,2024-01-10,NaN,1
2,1000,81204,10,2.92,29.20,2024-01-10,NaN,1
3,1000,6904,2,19.45,38.90,2024-01-10,NaN,1
4,1001,69105,3,11.80,35.40,2024-01-04,NaN,1
...,...,...,...,...,...,...,...,...
22361,5032,39130,3,43.59,130.77,2024-01-10,NaN,1
22362,5033,67030,5,9.75,48.75,2024-01-03,NaN,1
22363,5033,85855,8,3.28,26.24,2024-01-03,NaN,1
22364,5033,70098,10,36.17,361.70,2024-01-03,NaN,1
22365,5033,81364,9,1.02,9.18,2024-01-03,NaN,1

DataFrame NOTAFISCAL:

,DATA,TOTAL_NOTA,ID_FORMA_PGMT,ID_CLIENTE,ID_LOJA,ID_CFOP,CHAVE_ACESSO,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,2024-01-10 14:28:33,1014.76,1,313797,115,4,93619100115667967536657998415706983097512744,2024-01-10,NaN,1
1,2024-01-04 14:02:59,35.40,7,826519,29,1,46955218427031807881522047495747398596763088,2024-01-04,NaN,1
2,2024-01-03 07:19:49,218.58,7,736577,24,2,18579096349159384225008888667089179656150052,2024-01-03,NaN,1
3,2024-01-04 10:33:17,111.40,2,349822,111,1,77461279813609646965041026947382465077295976,2024-01-04,NaN,1
4,2024-01-07 16:02:38,1015.45,2,234363,124,4,38088505973098737217303533510810967255464236,2024-01-07,NaN,1
...,...,...,...,...,...,...,...,...,...,...
4029,2024-01-13 19:25:02,1533.90,1,49914,109,4,14548679667685614289428299021752507168991793,2024-01-13,NaN,1
4030,2024-01-11 17:20:16,322.19,3,42605,98,1,41995398282292380792759405720496838531863909,2024-01-11,NaN,1
4031,2024-01-19 14:18:43,343.30,6,188766,148,5,68752010479426672522885006671411015355364494,2024-01-19,NaN,1
4032,2024-01-10 14:27:22,1971.80,1,159311,6,5,31237043822757438205169258072562881814618293,2024-01-10,NaN,1
4033,2024-01-03 15:14:50,445.87,6,133773,81,1,54500156974138020509625438496534739561538510,2024-01-03,NaN,1

DataFrame VENDA:

,DATA,ID_NOTAFISCAL,ID_CLIENTE,ID_LOJA,ID_FORMA_PGMT,TOTAL_VENDA,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
1,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
2,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
3,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
4,2024-01-04 14:02:59,1001,826519,29,7,35.40,2024-01-04,NaN,1
...,...,...,...,...,...,...,...,...,...
22361,2024-01-10 14:27:22,5032,159311,6,1,1971.80,2024-01-10,NaN,1
22362,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1
22363,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1
22364,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1
22365,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1

Notas a serem adicionas adicionadas ????

,ID_NOTAFISCAL,ID_PRODUTO,QUANTIDADE,PRECO_UNIT,TOTAL_ITEM,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,1000,19969,8,34.22,273.76,2024-01-10,NaN,1
1,1000,79821,5,134.58,672.90,2024-01-10,NaN,1
2,1000,81204,10,2.92,29.20,2024-01-10,NaN,1
3,1000,6904,2,19.45,38.90,2024-01-10,NaN,1
4,1001,69105,3,11.80,35.40,2024-01-04,NaN,1
...,...,...,...,...,...,...,...,...
22361,5032,39130,3,43.59,130.77,2024-01-10,NaN,1
22362,5033,67030,5,9.75,48.75,2024-01-03,NaN,1
22363,5033,85855,8,3.28,26.24,2024-01-03,NaN,1
22364,5033,70098,10,36.17,361.70,2024-01-03,NaN,1
22365,5033,81364,9,1.02,9.18,2024-01-03,NaN,1

,DATA,TOTAL_NOTA,ID_FORMA_PGMT,ID_CLIENTE,ID_LOJA,ID_CFOP,CHAVE_ACESSO,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,2024-01-10 14:28:33,1014.76,1,313797,115,4,93619100115667967536657998415706983097512744,2024-01-10,NaN,1
1,2024-01-04 14:02:59,35.40,7,826519,29,1,46955218427031807881522047495747398596763088,2024-01-04,NaN,1
2,2024-01-03 07:19:49,218.58,7,736577,24,2,18579096349159384225008888667089179656150052,2024-01-03,NaN,1
3,2024-01-04 10:33:17,111.40,2,349822,111,1,77461279813609646965041026947382465077295976,2024-01-04,NaN,1
4,2024-01-07 16:02:38,1015.45,2,234363,124,4,38088505973098737217303533510810967255464236,2024-01-07,NaN,1
...,...,...,...,...,...,...,...,...,...,...
4029,2024-01-13 19:25:02,1533.90,1,49914,109,4,14548679667685614289428299021752507168991793,2024-01-13,NaN,1
4030,2024-01-11 17:20:16,322.19,3,42605,98,1,41995398282292380792759405720496838531863909,2024-01-11,NaN,1
4031,2024-01-19 14:18:43,343.30,6,188766,148,5,68752010479426672522885006671411015355364494,2024-01-19,NaN,1
4032,2024-01-10 14:27:22,1971.80,1,159311,6,5,31237043822757438205169258072562881814618293,2024-01-10,NaN,1
4033,2024-01-03 15:14:50,445.87,6,133773,81,1,54500156974138020509625438496534739561538510,2024-01-03,NaN,1

,DATA,ID_NOTAFISCAL,ID_CLIENTE,ID_LOJA,ID_FORMA_PGMT,TOTAL_VENDA,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
1,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
2,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
3,2024-01-10 14:28:33,1000,313797,115,1,1014.76,2024-01-10,NaN,1
4,2024-01-04 14:02:59,1001,826519,29,7,35.40,2024-01-04,NaN,1
...,...,...,...,...,...,...,...,...,...
22361,2024-01-10 14:27:22,5032,159311,6,1,1971.80,2024-01-10,NaN,1
22362,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1
22363,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1
22364,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1
22365,2024-01-03 15:14:50,5033,133773,81,6,445.87,2024-01-03,NaN,1

Produtos inseridos com sucesso.

In [ ]:
#Script para gerar Tabela de Notas Fiscais, Itens de nota e Vendas(OLTP), buscando o IDPRDOUTO na tabela Produto do banco de dados

import random
import pandas as pd
import os
from datetime import datetime, date
from sqlalchemy import create_engine, VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text,CHAR
import numpy as np
from faker import Faker
from sqlalchemy.exc import SQLAlchemyError

# Quantidade de notas fiscais
numero_inicial_nota = 1104
numero_maximo_nota = 1145
quant_maxima_itens = 10

fake = Faker()

server = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
bancodados = "MERCADO_OLTP"
driver = "ODBC Driver 17 for SQL Server"

conexaostring = f"mssql+pyodbc://{server}/{bancodados}?driver={driver}&Trusted_Connection=yes"
engine = create_engine(conexaostring)

#Função para testar a conexão
def testar_conexao_sqlalchemy(engine):
    try:        
        with engine.connect() as conexao: #Tenta conectar ao banco de dados
            print("Conexão com o banco de dados estabelecida com sucesso")
            result = conexao.execute(text("SELECT 1 AS teste")) #Executa uma consulta para testar a conexão
            print("Query executada com sucesso")
            return True
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False
#testa a conexão
if testar_conexao_sqlalchemy(engine): 
    print("A conexão foi bem-sucedida")
else:
    print("Falha na conexão.")


# Função para gerar a nota fiscal
def gerar_nota_fiscal(numero_nota, lista_produtos, quant_maxima_itens, data_nota):
    # Garantir que a quantidade de itens únicos seja pelo menos 1
    quant_item_unicos = random.randint(1, quant_maxima_itens)  # Gerar quantidade aleatória de itens únicos na nota fiscal
    #print(f"Quantidade de itens únicos na nota {numero_nota}: {quant_item_unicos}")

    lista_saida = []  # Lista para armazenar os itens da nota fiscal
    lista_NOTAFISCAL = []   

    id_forma_pgmt = random.randint(1, 8)
    total_clientes_db = (engine.connect().execute(text("SELECT COUNT(IDCLIENTE) FROM [MERCADO_OLTP].[dbo].CLIENTE"))).scalar()
    id_cliente = random.randint(1, total_clientes_db)
    total_lojas_db = (engine.connect().execute(text("SELECT COUNT(IDLOJA) FROM [MERCADO_OLTP].[dbo].LOJA"))).scalar()
    id_loja = random.randint(1, total_lojas_db)
    id_cfop = random.randint(1, 6)
    chaveacesso = ''.join([str(random.randint(0, 9)) for _ in range(44)])
    data_criacao = data_nota.date()
    data_atlz = ""
    versao = 1
    
    # Gerar os itens da nota fiscal
    for _ in range(quant_item_unicos):
        produto = random.choice(lista_produtos)
        if produto in df_prod["NOME"].values:
            preco_unit = df_prod.loc[df_prod["NOME"] == produto, "PRECO_UNIT"].values[0]
            id_produto = df_prod.loc[df_prod["NOME"] == produto, "IDPRODUTO"].values[0]
            preco_unit = round(float(preco_unit), 2)  # Preço unitário com 2 casas decimais
            quantidade = random.randint(1, 10)  # Quantidade aleatória do produto
            preco_total_item = round(quantidade * preco_unit, 2)  # Total do item
            lista_saida.append((data_nota, numero_nota, produto, quantidade, preco_unit, preco_total_item, 
                                id_forma_pgmt, id_cliente, id_loja, id_cfop, chaveacesso, data_criacao, 
                                data_atlz, versao,id_produto))            

    # Calcular o total da nota fiscal
    preco_total_nota = round(sum(item[5] for item in lista_saida), 2)
    
    # Adicionar o total da nota a cada item da lista
    lista_saida = [item + (preco_total_nota,) for item in lista_saida]
   
    lista_NOTAFISCAL.append((data_nota, id_forma_pgmt, id_cliente, id_loja, id_cfop, chaveacesso, data_criacao, 
                             data_atlz, versao,preco_total_nota))
    

    # Criar um DataFrame com os dados da nota fiscal
    df_nota_fiscal = pd.DataFrame(
        lista_saida, columns=["DATA_NOTAFISCAL", "Numero_Nota", "Produto", "QUANTIDADE", "PRECO_UNIT", "TOTAL_ITEM", 
                              "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP","CHAVE_ACESSO","DATA_CRIACAO",
                              "DATA_ATLZ","VERSAO", "IDPRODUTO","TOTAL_NOTA"]
    )

    df_2 = pd.DataFrame(
        lista_NOTAFISCAL, columns=["DATA_NOTAFISCAL", "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP", 
                                   "CHAVE_ACESSO", "DATA_CRIACAO", "DATA_ATLZ", "VERSAO","TOTAL_NOTA"]
    )

    
    return df_nota_fiscal, df_2

# Lista de produtos e lista de ID PRODUTO a partir do banco de dados

df_prod = pd.read_sql(text(f"SELECT IDPRODUTO, NOME, PRECO_UNIT FROM PRODUTO "),engine)

#lista_IDPRODUTO = df_prod['IDPRODUTO'].to_list()
lista_prod_DB = df_prod['NOME'].to_list()

# Lista para armazenar todas as notas fiscais
df_notas_fiscais = []
df_notas_fiscais_2 = []

# Gerar notas fiscais para o intervalo definido
for numero_nota in range(numero_inicial_nota, numero_maximo_nota + 1):
    data_nota_ini = fake.date_time_between(start_date=datetime(2024, 1, 1), end_date=datetime(2024, 1, 20))
    hora_aleatoria = random.randint(7, 21)  #Gera uma hora entre 8 e 22
    minuto_aleatorio = random.randint(0, 59)  #Gera minutos aleatórios
    segundo_aleatorio = random.randint(0, 59)  #Gera segundos aleatórios
    data_nota = data_nota_ini.replace(hour=hora_aleatoria, minute=minuto_aleatorio, second=segundo_aleatorio) #Substituir o horário da data_nota pelo horário gerado
    df_nota_fiscal, df_2 = gerar_nota_fiscal(numero_nota, lista_prod_DB, quant_maxima_itens, data_nota)
    df_notas_fiscais.append(df_nota_fiscal)
    df_notas_fiscais_2.append(df_2)

# Concatenar todas as notas fiscais em um único DataFrame
df_todas_notas = pd.concat(df_notas_fiscais, ignore_index=True)
df_todas_notas2 = pd.concat(df_notas_fiscais_2, ignore_index=True)

df_ITEMNOTA = pd.DataFrame({
                'ID_NOTAFISCAL':  df_todas_notas['Numero_Nota'],
                'ID_PRODUTO':     df_todas_notas['IDPRODUTO'],
                'QUANTIDADE':     df_todas_notas['QUANTIDADE'],
                'PRECO_UNIT':     df_todas_notas['PRECO_UNIT'],
                'TOTAL_ITEM':     df_todas_notas['TOTAL_ITEM'],
                'DATA_CRIACAO':   df_todas_notas['DATA_CRIACAO'],
                'DATA_ATLZ':      df_todas_notas['DATA_ATLZ'],
                'VERSAO':         df_todas_notas['VERSAO'],
})

df_NOTAFISCAL = pd.DataFrame({
                'DATA':           df_todas_notas2['DATA_NOTAFISCAL'],
                'TOTAL_NOTA':     df_todas_notas2['TOTAL_NOTA'],
                'ID_FORMA_PGMT':  df_todas_notas2['ID_FORMA_PGMT'],
                'ID_CLIENTE':     df_todas_notas2['ID_CLIENTE'],
                'ID_LOJA':        df_todas_notas2['ID_LOJA'],
                'ID_CFOP':        df_todas_notas2['ID_CFOP'],
                'CHAVE_ACESSO':   df_todas_notas2['CHAVE_ACESSO'],
                'DATA_CRIACAO':   df_todas_notas2['DATA_CRIACAO'],
                'DATA_ATLZ':      df_todas_notas2['DATA_ATLZ'],
                'VERSAO':         df_todas_notas2['VERSAO'],
})

df_VENDA = pd.DataFrame({
                'DATA':           df_todas_notas['DATA_NOTAFISCAL'],
                'ID_NOTAFISCAL':  df_todas_notas['Numero_Nota'],
                'ID_CLIENTE':     df_todas_notas['ID_CLIENTE'],
                'ID_LOJA':        df_todas_notas['ID_LOJA'],
                'ID_FORMA_PGMT':  df_todas_notas['ID_FORMA_PGMT'],
                'TOTAL_VENDA':     df_todas_notas['TOTAL_NOTA'],
                'DATA_CRIACAO':   df_todas_notas['DATA_CRIACAO'],
                'DATA_ATLZ':      df_todas_notas['DATA_ATLZ'],
                'VERSAO':         df_todas_notas['VERSAO'],
})

caminho = r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS"
path_ITEMNOTA = r"\\ITEMNOTA\\Novo(a) Documento de Texto.csv"

# Caminhos das pastas
pastas = {
    'ITEMNOTA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\ITEMNOTA",
    'NOTAFISCAL': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\NOTAFISCAL",
    'VENDA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\VENDA"
}
# Dicionário com os DataFrames e suas pastas correspondentes
dataframes = {
    'ITEMNOTA': df_ITEMNOTA,
    'NOTAFISCAL': df_NOTAFISCAL,
    'VENDA': df_VENDA
}

# Salvar cada DataFrame em um arquivo CSV na pasta correspondente
for nome_df, df in dataframes.items():
    try:
        id_valor = f"vendas_{numero_inicial_nota}ate_{numero_maximo_nota}"
        # Nome do arquivo
        nome_arquivo = f"arquivo_{nome_df}_{id_valor}.xlsx"
        
        # Caminho completo do arquivo
        caminho_completo = os.path.join(pastas[nome_df], nome_arquivo)
        
        # Salvar o DataFrame em um arquivo CSV
        df.to_excel(caminho_completo, index=False)
        print(f"DataFrame {nome_df} salvo com sucesso em: {caminho_completo}")
    except Exception as e:
        print(f"Erro ao salvar o DataFrame {nome_df}: {e}")

In [ ]:
#Script que gera NF, ITEMNF e VENDAS em formato .xlsx direto na pasta para a importacao

import random
import pandas as pd
import os
from datetime import datetime, date
from sqlalchemy import create_engine, VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text,CHAR
import numpy as np
from faker import Faker

# Quantidade de notas fiscais

numero_inicial_nota = 1000
numero_maximo_nota = 3001
quant_maxima_itens = 100
variavel_controle_maximo_LOOP = 1300 #Valor maximo que da nota inicial dentro do loop de geracao de NF's

fake = Faker()

server = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
bancodados = "MERCADO_OLTP"
driver = "ODBC Driver 17 for SQL Server"

conexaostring = f"mssql+pyodbc://{server}/{bancodados}?driver={driver}&Trusted_Connection=yes"
engine = create_engine(conexaostring)

#Função para testar a conexão
def testar_conexao_sqlalchemy(engine):
    try:        
        with engine.connect() as conexao: #Tenta conectar ao banco de dados
            print("Conexão com o banco de dados estabelecida com sucesso")
            result = conexao.execute(text("SELECT 1 AS teste")) #Executa uma consulta para testar a conexão
            print("Query executada com sucesso")
            return True
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False
#testa a conexão
if testar_conexao_sqlalchemy(engine): 
    print("A conexão foi bem-sucedida")
else:
    print("Falha na conexão.")

# Função para gerar a nota fiscal
def gerar_nota_fiscal(numero_nota, lista_produtos, quant_maxima_itens, data_nota):
    # Garantir que a quantidade de itens únicos seja pelo menos 1
    quant_item_unicos = random.randint(1, quant_maxima_itens)  # Gerar quantidade aleatória de itens únicos na nota fiscal
    #print(f"Quantidade de itens únicos na nota {numero_nota}: {quant_item_unicos}")

    lista_saida = []  # Lista para armazenar os itens da nota fiscal
    lista_NOTAFISCAL = []   

    id_forma_pgmt = random.randint(1, 8)
    total_clientes_db = (engine.connect().execute(text("SELECT COUNT(IDCLIENTE) FROM [MERCADO_OLTP].[dbo].CLIENTE"))).scalar()
    id_cliente = random.randint(1, total_clientes_db)
    total_lojas_db = (engine.connect().execute(text("SELECT COUNT(IDLOJA) FROM [MERCADO_OLTP].[dbo].LOJA"))).scalar()
    id_loja = random.randint(1, total_lojas_db)
    id_cfop = random.randint(1, 6)
    chaveacesso = ''.join([str(random.randint(0, 9)) for _ in range(44)])
    data_criacao = data_nota.date()
    data_atlz = ""
    versao = 1
    
    # Gerar os itens da nota fiscal
    for _ in range(quant_item_unicos):
        produto = random.choice(lista_produtos)
        if produto in df_prod["NOME"].values:
            preco_unit = df_prod.loc[df_prod["NOME"] == produto, "PRECO_UNIT"].values[0]
            id_produto = df_prod.loc[df_prod["NOME"] == produto, "IDPRODUTO"].values[0]
            preco_unit = round(float(preco_unit), 2)  # Preço unitário com 2 casas decimais
            quantidade = random.randint(1, 10)  # Quantidade aleatória do produto
            preco_total_item = round(quantidade * preco_unit, 2)  # Total do item
            lista_saida.append((data_nota, numero_nota, produto, quantidade, preco_unit, preco_total_item, 
                                id_forma_pgmt, id_cliente, id_loja, id_cfop, chaveacesso, data_criacao, 
                                data_atlz, versao,id_produto))            

    # Calcular o total da nota fiscal
    preco_total_nota = round(sum(item[5] for item in lista_saida), 2)
    
    # Adicionar o total da nota a cada item da lista
    lista_saida = [item + (preco_total_nota,) for item in lista_saida]
   
    lista_NOTAFISCAL.append((data_nota, id_forma_pgmt, id_cliente, id_loja, id_cfop, chaveacesso, data_criacao, 
                             data_atlz, versao,preco_total_nota))
    

    # Criar um DataFrame com os dados da nota fiscal
    df_nota_fiscal = pd.DataFrame(
        lista_saida, columns=["DATA_NOTAFISCAL", "Numero_Nota", "Produto", "QUANTIDADE", "PRECO_UNIT", "TOTAL_ITEM", 
                              "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP","CHAVE_ACESSO","DATA_CRIACAO",
                              "DATA_ATLZ","VERSAO", "IDPRODUTO","TOTAL_NOTA"]
    )

    df_2 = pd.DataFrame(
        lista_NOTAFISCAL, columns=["DATA_NOTAFISCAL", "ID_FORMA_PGMT", "ID_CLIENTE", "ID_LOJA", "ID_CFOP", 
                                   "CHAVE_ACESSO", "DATA_CRIACAO", "DATA_ATLZ", "VERSAO","TOTAL_NOTA"]
    )

    
    return df_nota_fiscal, df_2


while numero_inicial_nota < variavel_controle_maximo_LOOP:
    try:
        
        incremento = random.randint(33, 87)
        numero_maximo_nota = numero_inicial_nota + incremento
        df_prod = pd.read_sql(text(f"SELECT IDPRODUTO, NOME, PRECO_UNIT FROM PRODUTO "),engine)
        lista_prod_DB = df_prod['NOME'].to_list()
        df_notas_fiscais = []
        df_notas_fiscais_2 = []
        for numero_nota in range(numero_inicial_nota, numero_maximo_nota + 1):
            data_nota_ini = fake.date_time_between(start_date=datetime(2024, 1, 1), end_date=datetime(2024, 1, 20))
            hora_aleatoria = random.randint(7, 21)  #Gera uma hora entre 8 e 22
            minuto_aleatorio = random.randint(0, 59)  #Gera minutos aleatórios
            segundo_aleatorio = random.randint(0, 59)  #Gera segundos aleatórios
            data_nota = data_nota_ini.replace(hour=hora_aleatoria, minute=minuto_aleatorio, second=segundo_aleatorio) #Substituir o horário da data_nota pelo horário gerado
            df_nota_fiscal, df_2 = gerar_nota_fiscal(numero_nota, lista_prod_DB, quant_maxima_itens, data_nota)
            df_notas_fiscais.append(df_nota_fiscal)
            df_notas_fiscais_2.append(df_2)
        df_todas_notas = pd.concat(df_notas_fiscais, ignore_index=True)
        df_todas_notas2 = pd.concat(df_notas_fiscais_2, ignore_index=True)
        df_ITEMNOTA = pd.DataFrame({
                    'ID_NOTAFISCAL':  df_todas_notas['Numero_Nota'],
                    'ID_PRODUTO':     df_todas_notas['IDPRODUTO'],
                    'QUANTIDADE':     df_todas_notas['QUANTIDADE'],
                    'PRECO_UNIT':     df_todas_notas['PRECO_UNIT'],
                    'TOTAL_ITEM':     df_todas_notas['TOTAL_ITEM'],
                    'DATA_CRIACAO':   df_todas_notas['DATA_CRIACAO'],
                    'DATA_ATLZ':      df_todas_notas['DATA_ATLZ'],
                    'VERSAO':         df_todas_notas['VERSAO'],
        })
        df_NOTAFISCAL = pd.DataFrame({
                        'DATA':           df_todas_notas2['DATA_NOTAFISCAL'],
                        'TOTAL_NOTA':     df_todas_notas2['TOTAL_NOTA'],
                        'ID_FORMA_PGMT':  df_todas_notas2['ID_FORMA_PGMT'],
                        'ID_CLIENTE':     df_todas_notas2['ID_CLIENTE'],
                        'ID_LOJA':        df_todas_notas2['ID_LOJA'],
                        'ID_CFOP':        df_todas_notas2['ID_CFOP'],
                        'CHAVE_ACESSO':   df_todas_notas2['CHAVE_ACESSO'],
                        'DATA_CRIACAO':   df_todas_notas2['DATA_CRIACAO'],
                        'DATA_ATLZ':      df_todas_notas2['DATA_ATLZ'],
                        'VERSAO':         df_todas_notas2['VERSAO'],
        })
        df_VENDA = pd.DataFrame({
                        'DATA':           df_todas_notas['DATA_NOTAFISCAL'],
                        'ID_NOTAFISCAL':  df_todas_notas['Numero_Nota'],
                        'ID_CLIENTE':     df_todas_notas['ID_CLIENTE'],
                        'ID_LOJA':        df_todas_notas['ID_LOJA'],
                        'ID_FORMA_PGMT':  df_todas_notas['ID_FORMA_PGMT'],
                        'TOTAL_VENDA':     df_todas_notas['TOTAL_NOTA'],
                        'DATA_CRIACAO':   df_todas_notas['DATA_CRIACAO'],
                        'DATA_ATLZ':      df_todas_notas['DATA_ATLZ'],
                        'VERSAO':         df_todas_notas['VERSAO'],
        })
        caminho = r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS"
        path_ITEMNOTA = r"\\ITEMNOTA\\Novo(a) Documento de Texto.csv"

        # Caminhos das pastas
        pastas = {
            'ITEMNOTA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\ITEMNOTA",
            'NOTAFISCAL': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\NOTAFISCAL",
            'VENDA': r"C:\\Users\\marce\\OneDrive\Arquivos Antigos\\Área de Trabalho\\Projeto Supermecado - Arquivos\\VENDAS\\VENDA"
        }
        # Dicionário com os DataFrames e suas pastas correspondentes
        dataframes = {
            'ITEMNOTA': df_ITEMNOTA,
            'NOTAFISCAL': df_NOTAFISCAL,
            'VENDA': df_VENDA
        }
        # Salvar cada DataFrame em um arquivo CSV na pasta correspondente
        for nome_df, df in dataframes.items():
            try:
                id_valor = f"vendas_{numero_inicial_nota}ate_{numero_maximo_nota}"
                # Nome do arquivo
                nome_arquivo = f"arquivo_{nome_df}_{id_valor}.xlsx"

                # Caminho completo do arquivo
                caminho_completo = os.path.join(pastas[nome_df], nome_arquivo)

                # Salvar o DataFrame em um arquivo CSV
                df.to_excel(caminho_completo, index=False)
                #print(f"DataFrame {nome_df} salvo com sucesso em: {caminho_completo}")
            except Exception as e:
                print(f"Erro ao salvar o DataFrame {nome_df}: {e}")
        print(f"Arquivo vendas de {numero_inicial_nota} ate {numero_maximo_nota} salvos com sucesso.")
        numero_inicial_nota = numero_maximo_nota + 1
    except Exception as e:
       print(f"Erro ao gerar os arquivos: {e}")