In [ ]:
#Script para enviar arquivos da pasta Vendas par o Sql server

import random
import pandas as pd
from datetime import datetime, date
from sqlalchemy import create_engine, VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text,CHAR
import numpy as np
from faker import Faker
from sqlalchemy.exc import SQLAlchemyError
import os

fake = Faker()

server = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
bancodados = "MERCADO_OLTP"
driver = "ODBC Driver 17 for SQL Server"

conexaostring = f"mssql+pyodbc://{server}/{bancodados}?driver={driver}&Trusted_Connection=yes"
engine = create_engine(conexaostring)

#Função para testar a conexão
def testar_conexao_sqlalchemy(engine):
    try:        
        with engine.connect() as conexao: #Tenta conectar ao banco de dados
            print("Conexão com o banco de dados estabelecida com sucesso")
            result = conexao.execute(text("SELECT 1 AS teste")) #Executa uma consulta para testar a conexão
            print("Query executada com sucesso")
            return True
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False
#testa a conexão
if testar_conexao_sqlalchemy(engine): 
    print("A conexão foi bem-sucedida")
else:
    print("Falha na conexão.")

def ler_arquivos_xlsx(caminho_pasta):
    dataframes = []
    for arquivo in os.listdir(caminho_pasta):
        if arquivo.endswith(".xlsx"):
            try:
                caminho_completo = os.path.join(caminho_pasta, arquivo)
                df = pd.read_excel(caminho_completo)
                dataframes.append(df)
                print(f"Arquivo {arquivo} lido com sucesso.")
            except Exception as e:
                print(f"Erro ao ler o arquivo {arquivo}: {e}")
    return pd.concat(dataframes, ignore_index=True) if dataframes else pd.DataFrame()

#Caminhos das pastas
caminho_itemnota = r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Projeto Supermecado - Arquivos\VENDAS\ITEMNOTA"
caminho_notafiscal = r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Projeto Supermecado - Arquivos\VENDAS\NOTAFISCAL"
caminho_venda = r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Projeto Supermecado - Arquivos\VENDAS\VENDA"

#Lê os arquivos e cria os DataFrames
df_ITEMNOTA = ler_arquivos_xlsx(caminho_itemnota)
df_NOTAFISCAL = ler_arquivos_xlsx(caminho_notafiscal)
df_VENDA = ler_arquivos_xlsx(caminho_venda)

#Exibe os DataFrames
print("\nDataFrame ITEMNOTA:")
display(df_ITEMNOTA)

print("\nDataFrame NOTAFISCAL:")
display(df_NOTAFISCAL)

print("\nDataFrame VENDA:")
display(df_VENDA)

Conexão com o banco de dados estabelecida com sucesso
Query executada com sucesso
A conexão foi bem-sucedida
Conexão com o banco de dados estabelecida com sucesso
Query executada com sucesso
Arquivo arquivo_ITEMNOTA_vendas_1000ate_1010.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1011ate_1027.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1028ate_1041.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1042ate_1079.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1080ate_1103.xlsx lido com sucesso.
Arquivo arquivo_ITEMNOTA_vendas_1104ate_1145.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1000ate_1010.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1011ate_1027.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1028ate_1041.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1042ate_1079.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1080ate_1103.xlsx lido com sucesso.
Arquivo arquivo_NOTAFISCAL_vendas_1104ate_1145.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1000ate_1010.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1011ate_1027.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1028ate_1041.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1042ate_1079.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1080ate_1103.xlsx lido com sucesso.
Arquivo arquivo_VENDA_vendas_1104ate_1145.xlsx lido com sucesso.

DataFrame ITEMNOTA:

,ID_NOTAFISCAL,ID_PRODUTO,QUANTIDADE,PRECO_UNIT,TOTAL_ITEM,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,1000,80294,10,27.45,274.50,2024-01-16,NaN,1
1,1000,63595,5,8.19,40.95,2024-01-16,NaN,1
2,1001,42423,10,30.14,301.40,2024-01-02,NaN,1
3,1002,65427,8,12.83,102.64,2024-01-08,NaN,1
4,1002,32233,7,187.43,1312.01,2024-01-08,NaN,1
...,...,...,...,...,...,...,...,...
802,1144,80887,9,55.85,502.65,2024-01-19,NaN,1
803,1144,44809,8,5.08,40.64,2024-01-19,NaN,1
804,1144,42380,10,6.68,66.80,2024-01-19,NaN,1
805,1145,85659,8,15.51,124.08,2024-01-15,NaN,1
806,1145,11175,7,49.12,343.84,2024-01-15,NaN,1

DataFrame NOTAFISCAL:

,DATA,TOTAL_NOTA,ID_FORMA_PGMT,ID_CLIENTE,ID_LOJA,ID_CFOP,CHAVE_ACESSO,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,2024-01-16 21:27:36,315.45,1,192,44,1,805869592790713,2024-01-16,NaN,1
1,2024-01-02 20:47:00,301.40,3,71,107,1,145714972903562,2024-01-02,NaN,1
2,2024-01-08 02:09:01,1685.82,2,157,103,2,558151687794488,2024-01-08,NaN,1
3,2024-01-12 16:11:24,321.02,6,208,136,5,546915488762689,2024-01-12,NaN,1
4,2024-01-13 12:52:39,324.25,2,219,125,1,79986000838076,2024-01-13,NaN,1
...,...,...,...,...,...,...,...,...,...,...
141,2024-01-04 18:37:27,1377.32,7,569,143,5,280763001140620,2024-01-04,NaN,1
142,2024-01-02 09:32:10,624.21,1,258,54,4,341848059004066,2024-01-02,NaN,1
143,2024-01-01 22:24:47,647.16,1,388,146,1,479196601676062,2024-01-01,NaN,1
144,2024-01-19 08:37:20,1161.00,8,822,76,2,759269008938692,2024-01-19,NaN,1
145,2024-01-15 22:21:29,467.92,4,458,1,4,248175985615160,2024-01-15,NaN,1

DataFrame VENDA:

,DATA,ID_NOTAFISCAL,ID_CLIENTE,ID_LOJA,ID_FORMA_PGMT,TOTAL_VENDA,DATA_CRIACAO,DATA_ATLZ,VERSAO
0,2024-01-16 21:27:36,1000,192,44,1,315.45,2024-01-16,NaN,1
1,2024-01-16 21:27:36,1000,192,44,1,315.45,2024-01-16,NaN,1
2,2024-01-02 20:47:00,1001,71,107,3,301.40,2024-01-02,NaN,1
3,2024-01-08 02:09:01,1002,157,103,2,1685.82,2024-01-08,NaN,1
4,2024-01-08 02:09:01,1002,157,103,2,1685.82,2024-01-08,NaN,1
...,...,...,...,...,...,...,...,...,...
802,2024-01-19 08:37:20,1144,822,76,8,1161.00,2024-01-19,NaN,1
803,2024-01-19 08:37:20,1144,822,76,8,1161.00,2024-01-19,NaN,1
804,2024-01-19 08:37:20,1144,822,76,8,1161.00,2024-01-19,NaN,1
805,2024-01-15 22:21:29,1145,458,1,4,467.92,2024-01-15,NaN,1
806,2024-01-15 22:21:29,1145,458,1,4,467.92,2024-01-15,NaN,1