In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

server = "DESKTOP-HV85ADA\\SERVERSQL22"
bancodadosorigem =  "OLIP" 
driver = "ODBC Driver 17 for SQL Server"

conexao_origem  = f"mssql+pyodbc://{server}/{bancodadosorigem}?driver={driver}&Trusted_Connection=yes"
engine_origem  = create_engine(conexao_origem) # pool_size=10, max_overflow=30

#Função para testar a conexão
def testar_conexao_sqlalchemy(engine):
    try:        
        with engine.connect() as conexao: #Tenta conectar ao banco de dados
            result = conexao.execute(text("SELECT 1 AS teste")) #Executa uma consulta para testar a conexão
            print(f"Query teste executada com sucesso, conexão com o banco de dados {engine} bem-sucedida")
            return
    except Exception as e:
        print(f"Erro ao conectar ao banco de dados: {e}")
        return False
#testa a conexão
testar_conexao_sqlalchemy(engine_origem) 

df_TABELA_CONSOLIDADA = pd.read_sql("SELECT * FROM TABELA_ORDER_CONSOLIDADA", engine_origem)

display(df_TABELA_CONSOLIDADA)

Query teste executada com sucesso, conexão com o banco de dados Engine(mssql+pyodbc://DESKTOP-HV85ADA\SERVERSQL22/OLIP?Trusted_Connection=yes&driver=ODBC+Driver+17+for+SQL+Server) bem-sucedida

,order_id,order_status,total_price,TOTAL_FRETE,TOTAL_PEDIDO
0,00054e8431b9d7675808bcb819fb4a32,delivered,19.90,11.85,31.75
1,000229ec398224ef6ca0657da4fc703e,delivered,199.00,17.87,216.87
2,00010242fe8c5a6d1ba2dd792cb16214,delivered,58.90,13.29,72.19
3,00048cc3ae777c65dbb7d2a0634bc1ea,delivered,21.90,12.69,34.59
4,001427c0ec99cf8af737bd88e92fd444,delivered,59.90,23.35,83.25
...,...,...,...,...,...
98193,ffd7f21b9b4ea30d3536d4cadd19fa42,delivered,95.00,17.38,112.38
98194,ffef9e1de5dd07b397b373f9bb72cccf,delivered,94.00,21.50,115.50
98195,fff3983dfa3c5a0d752d8d17baa406a0,delivered,66.39,14.05,80.44
98196,fffb2ef8874127f75b52b643880fd7e0,delivered,17.90,22.06,39.96
98197,fffc94f6ce00a00581880bf54a75a037,delivered,299.99,43.41,343.40

In [ ]:
_