In [ ]:
#Script para enviar uma lista para uma coluna de uma tabela no banco de dados SQL Server

import pandas as pd
from sqlalchemy import create_engine, text
 

server = "DESKTOP-HV85ADA\\PROJETO_MERCADO"
bancodados = "MERCADO_OLTP"
driver = "ODBC Driver 17 for SQL Server"
#user = ""
#senha = ""

conexaostring = f"mssql+pyodbc://{server}/{bancodados}?driver={driver}&Trusted_Connection=yes"
#conn_str = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
engine = create_engine(conexaostring)

tabela = "DEPARTAMENTO"
coluna = "NOME"

df = []
lista = df['NOME_COLUNA'].to_list() #converte uma coluna de um df em uma lista

lista_declarada = ["Administrativo","Comercial","Financeiro","Operacional","Recursos humanos"]

with engine.connect() as connection:
    connection.execute(text(f"TRUNCATE TABLE {tabela}"))
    connection.commit()
    for nome in lista_departamento:
        connection.execute(text(f"INSERT INTO {tabela} ({coluna}) VALUES (:nome)"),{"nome": nome})
        connection.commit()

connection.close()