In [11]:
import numpy as np
import pandas as pd

# Definição dos grupos
grupo_1 = [4]  # 53%
grupo_2 = [5, 6, 7, 11, 17, 18, 19, 24, 3]  # 34%
grupo_3 = [n for n in range(1, 30) if n not in grupo_1 + grupo_2]  # 13%

#grupo_1 = [50, 100, 150]  # 53%
#grupo_2 = [75, 80, 120, 200, 90, 140]  # 34%
#grupo_3 = [500, 450, 400]  # 13%
#
# Pesos correspondentes
pesos = [0.01 / len(grupo_1)] * len(grupo_1) + \
        [0.49 / len(grupo_2)] * len(grupo_2) + \
        [0.50 / len(grupo_3)] * len(grupo_3)

# Lista combinada de números
numeros = grupo_1 + grupo_2 + grupo_3

# Gerando os 500 números aleatórios seguindo os pesos definidos
numeros_aleatorios = np.random.choice(numeros, 400, p=pesos)

df = pd.DataFrame(numeros_aleatorios)

df.to_excel(r"C:\Users\marce\OneDrive\Arquivos Antigos\Área de Trabalho\Kaggle\Projeto_Todos_Graficos\numeros.xlsx")

display(df)

      0
0    18
1     5
2    21
3     1
4    23
..   ..
395  10
396  23
397  19
398  13
399  27

[400 rows x 1 columns]